.main-box {
    display: grid;
    grid-template-columns: 250px 1fr;
    column-gap: 15px;

    outline: 1px solid red;


    // @media screen and (max-width: 580px) {
    //     column-gap: 5px;
    // }
}

.main-box-left-panel {
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;

    outline: 1px solid red;
}

.filter-name-age-form,
.filter-gender-form,
.filter-age-fieldset {
    margin-top: 15px;
}

.search-form-input {
    font-size: var(--default-font-size);
    padding: 10px;
    border: 1px solid var(--friends-blue);
    border-radius: 5px;
    width: 90%
}

.search-form-input:hover,
.search-form-input:focus {
    border: 1px solid var(--friends-yellow);
    outline: none;
}

.filter-name-fieldset,
.filter-age-fieldset,
.filter-gender-fieldset {
    padding: 5px 10px 10px 10px;
    border: 1px solid var(--friends-blue);
    border-radius: 5px;
}

.filter-name-fieldset:hover,
.filter-name-fieldset:focus,
.filter-age-fieldset:hover,
.filter-age-fieldset:focus,
.filter-gender-fieldset:hover,
.filter-gender-fieldset:focus {
    border: 1px solid var(--friends-yellow);
}

.filter-name-legend,
.filter-age-legend,
.filter-gender-legend {
    padding: 0px 5px 0px 5px;
    font-size: 18px;
    font-weight: 700;
}

.filter-name-input,
.filter-name-label,
.filter-age-input,
.filter-age-label,
.filter-gender-input,
.filter-gender-label {
    margin-top: 8px;
    cursor: pointer;
    font-size: 18px;
}

// .filter-name-input:hover,
.filter-name-label:hover,
.filter-age-label:hover,
.filter-gender-label:hover {
    color: var(--friends-blue);
    font-weight: 700;
}

.active {
    color: var(--friends-blue);
    font-weight: 700;
}

.filter-age-legend {
    padding: 0px 5px 0px 5px;
    font-size: 18px;
    font-weight: 700;
}

// .search-form-input:checked {
//     border: 10px solid var(--friends-yellow);
// }

// .search-form {
//     padding: 10px;
//     border: 2px solid black;
//     border-radius: 5px;
// }

.main-box-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 15px;
    row-gap: 15px;

    outline: 1px solid red;
}

.main-box-list-item {
    display: grid;
    justify-items: stretch;
    padding: 7px;
    border: 2px solid black;
    border-radius: 5px;
}

// .main {
//     flex-grow: 1;
// }

// .main-box {
//     display: grid;
//     grid-template-columns: 1fr 3fr;
//     column-gap: 20px;

//     @media screen and (max-width: 580px) {
//         column-gap: 5px;
//     }
// }

// .list-movie-item {
//     display: flex;
//     flex-direction: column;
// }

// .list-movie-item:not(:last-child) {
//     margin-bottom: 10px;
// }

// .list-movie-btn {
//     min-height: 50px;
//     padding: 10px;

//     background-color: var(--background-color-btn);
//     text-shadow: var(--default-white-shadow);
//     z-index: 1;

//     &:hover,
//     &:focus {
//         background-color: var(--hover-focus);
//     }
// }

// .list-movie-btn-text {
//     font-family: var(--default-font);
//     font-size: 12px;
//     color: var(--white);

//     text-shadow: var(--default-black-shadow);

//     overflow: hidden;
//     text-overflow: ellipsis;
//     display: -webkit-box;
//     -webkit-line-clamp: 2; // max nb lines to show
//     -webkit-box-orient: vertical;

//     position: relative;
//     z-index: -1;
// }

// .movie-box {
//     display: grid;
//     grid-template-columns: 280px 1fr;
//     grid-template-rows: auto 1fr;
//     row-gap: 20px;
//     column-gap: 20px;

//     @media screen and (max-width: 768px) {
//         grid-template-columns: 220px 1fr;
//         grid-template-rows: auto 1fr;
//         column-gap: 10px;
//         row-gap: 10px;
//     }

//     @media screen and (max-width: 530px) {
//         display: flex;
//         flex-direction: column;
//     }
// }

// .description-box {
//     padding: 5px;
// }

// .description-text:not(:last-child) {
//     margin-bottom: 15px;

//     @media screen and (max-width: 530px) {
//         margin-bottom: 5px;
//     }
// }

// .description-text {
//     font-size: 18px;

//     @media screen and (max-width: 1000px) {
//         font-size: 16px;
//     }

//     @media screen and (max-width: 530px) {
//         font-size: 14px;
//     }
// }

// .description-title {
//     text-align: center;
//     font-size: 26px;
//     font-weight: 700;

//     text-shadow: var(--default-white-shadow);

//     @media screen and (max-width: 1000px) {
//         font-size: 22px;
//     }

//     @media screen and (max-width: 768px) {
//         font-size: 18px;
//     }

//     @media screen and (max-width: 530px) {
//         font-size: 16px;
//     }
// }

// .description-text-span {
//     font-weight: 700;

//     text-shadow: var(--default-white-shadow);
// }

// .description-text {
//     &__hidden-laptop {
//         @media screen and (max-width: 1000px) {
//             display: none;
//         }
//     }

//     &__hidden-tablet {
//         @media screen and (max-width: 768px) {
//             display: none;
//         }
//     }
// }

// .description-plot-title {
//     font-size: 26px;
//     font-weight: 700;
//     text-align: center;

//     text-shadow: var(--default-white-shadow);

//     @media screen and (max-width: 1000px) {
//         font-size: 22px;
//     }

//     @media screen and (max-width: 768px) {
//         font-size: 18px;
//     }

//     @media screen and (max-width: 530px) {
//         font-size: 16px;
//     }
// }

// .description-plot-text {
//     font-size: 18px;
//     line-height: 1.71;

//     @media screen and (max-width: 530px) {
//         font-size: 14px;
//     }
// }

// .plot-box {
//     grid-column-start: 1;
//     grid-column-end: span 2;
//     grid-row-start: 2;
//     padding: 10px;

//     @media screen and (max-width: 530px) {
//         padding: 5px;
//     }
// }
